@using RetailGInvoices.Data
@using System.Net.Http
@inject HttpClient Http

<Table TableItem="Invoice" Items="invoices" PageSize="10" ColumnReorder="true" >
	<Column TableItem="Invoice" Title="ID" Field="@(x => x.ID)" Sortable="true" Width="10%" DefaultSortColumn="true"/>
	<Column TableItem="Invoice" Title="Supplier" Field="@(x => x.SupplierID)" Sortable="true" Width="10%" />

</Table>

@code {
	private Invoice[] invoices;
	protected override async Task OnInitializedAsync()
	{
		invoices = await Http.GetJsonAsync<Invoice[]>("/api/Invoices");
	}

}
